.combo-box-base {
    -fx-border-radius: 5 , 5 , 5 , 5;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-border-color: #8596a9;
    -fx-background-color: #F0F8FF;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Arial Rounded MT Bold";

}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: #778899;
}


.label {
    -fx-font-family: "Bookman Old Style";
    -fx-font-weight: BOLD;
}

.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #226f62 0%, #1e5a4e 100%),
    #2c9183,
    #2b7163,
    radial-gradient(center 50% 50%, radius 100%, #37a597, #37b1a0);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.button:hover {
    -fx-background-insets: 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;

}

.VBox {
    -fx-background-color: rgb(240, 248, 255);
    -fx-padding: 0, 20, 10, 20;
    -fx-spacing: 50;

}
